<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/styles/styles.css">
    <title>LanType Typing Website</title>
    <link rel="icon" type="image/png" href="/static/favicon.png">
</head>
<body>
    <h1>LanType Typing Website</h1>
    <p>Type as many words as you can in 60 seconds - © Lan Internet Software</p>
    <p id="output"></p>
    <div class="inputfield">Type words: <input placeholder="", id="words"> <br></div>
    <div class="button"><button onclick="getwords()"> Get Words </button> <br> </div>
    <script>
        function getwords(){
                        console.log("Function has run!")
                        fetch('/get-words')
                            .then(response => response.json())
                            .then(data => {
                                document.getElementById('output').innerText = data.message;
                            });
                
                        }
    </script>
    
    <script>
    document.getElementById("words").addEventListener("input", function(e) {
    fetch("/keystroke", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ key: e.target.value })
    });
});
    </script>
</body>
</html>